<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        
        <div class="form-group">
          <label for="montoEnviado">Monto Enviado</label>
          <input
            type="text"
            class="form-control"
            id="montoEnviado"
            
            [(ngModel)]="tutorial.montoEnviado"
            name="montoEnviado"
          />
        </div>
        <div class="form-group">
            <label for="tipoOperacion">Tipo Operacion</label>
            <input
              type="text"
              class="form-control"
              id="tipoOperacion"
              
              [(ngModel)]="tutorial.tipoOperacion"
              name="tipoOperacion"
            />
          </div>
  
        <div class="form-group">
          <label for="monedaOrigen">Moneda de Origen</label>
          <input
            class="form-control"
            id="monedaOrigen"
            
            [(ngModel)]="tutorial.monedaOrigen"
            name="monedaOrigen"
          />
        </div>

        <div class="form-group">
            <label for="monedaDestino">Moneda Destino</label>
            <input
              class="form-control"
              id="monedaDestino"
              
              [(ngModel)]="tutorial.monedaDestino"
              name="monedaDestino"
            />
          </div>
  
        <button (click)="saveTutorial()" class="btn btn-success">Guardar</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Operacion registrada correctamente!</h4>
        <button class="btn btn-success" (click)="newTutorial()">Agregar otro</button>
      </div>
    </div>
  </div>
  