<div>
    <div *ngIf="currentTutorial.id" class="edit-form">
      <h4>Tutorial</h4>
      <form>

        <div class="form-group">
          <label for="montoEnviado">montoEnviado</label>
          <input
            type="text"
            class="form-control"
            id="montoEnviado"
            [(ngModel)]="currentTutorial.montoEnviado"
            name="montoEnviado"
          />
        </div>
        <div class="form-group">
          <label for="tipoOperacion">tipoOperacion</label>
          <input
            type="text"
            class="form-control"
            id="tipoOperacion"
            [(ngModel)]="currentTutorial.tipoOperacion"
            name="tipoOperacion"
          />
        </div>
        <div class="form-group">
            <label for="monedaOrigen">monedaOrigen</label>
            <input
              type="text"
              class="form-control"
              id="monedaOrigen"
              [(ngModel)]="currentTutorial.monedaOrigen"
              name="monedaOrigen"
            />
          </div>
          <div class="form-group">
            <label for="monedaDestino">monedaDestino</label>
            <input
              type="text"
              class="form-control"
              id="monedaDestino"
              [(ngModel)]="currentTutorial.monedaDestino"
              name="monedaDestino"
            />
          </div>


      </form>
  
  
      <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateTutorial()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentTutorial.id">
      <br />
      <p>Cannot access this Tutorial...</p>
    </div>
  </div>
  