<div class="list row">

    <!--
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Ingresar id"
          [(ngModel)]="id"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
    -->

    <div class="col-md-6">
      <h4>List de Operaciones</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let tutorial of tutorials; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(tutorial, i)"
        >
          Numero de operacion = BCP_Exchange_{{ tutorial.id }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger"  (click)="removeAllTutorials()" >
        Eliminar todo
      </button>
    </div>



    <div class="col-md-6">
      <div *ngIf="currentTutorial">
        <h4>Exchange</h4>
        
        <div>
          <label><strong>Monto Enviado:</strong></label> {{ currentTutorial.montoEnviado }}
        </div>
        <div>
          <label><strong>Monto Recibido:</strong></label> {{ currentTutorial.montoRecibido }}
        </div>
        <div>
          <label><strong>Moneda Origen:</strong></label> {{ currentTutorial.monedaOrigen }}
        </div>
        <div>
          <label><strong>Moneda Destino:</strong></label> {{ currentTutorial.monedaDestino }}
        </div>
        <div>
          <label><strong>Tipo Cambio:</strong></label> {{ currentTutorial.tipoCambio }}
        </div>
        <div>
          <label><strong>Tipo Operacion:</strong></label> {{ currentTutorial.tipoOperacion  }}
        </div>


        <a class="badge badge-warning" routerLink="/tutorials/{{ currentTutorial.id }}">
          Modificar
        </a>
      </div>
  
      <div *ngIf="!currentTutorial">
        <br />
        <p>Seleccione una operacion...</p>
      </div>
    </div>
  </div>
  